<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
    <head lang="pl">
        <title>Wyceń cokolwiek</title>
    </head>
    <body layout:fragment="content">
        <nav>
            <div class="nav-wrapper">
                <a th:inline="text" href="" class="brand-logo" style="margin-left: 20px;">Witaj, [[${#httpServletRequest.remoteUser}]]!</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><form th:action="@{/logout}" method="post"><input type="submit" value="Wyloguj" class="btn waves-effect waves-light" style="margin-right: 20px;"/></form></li>
                </ul>
            </div>
        </nav>
        <p>Last login - ... tbi :D</p>
    </body>
</html>